<% content_for :table do %>
  <table class="table" id="company-table" >
    <thead>
      <%= render 'index_table_head' %>
    </thead>
    <tbody>
      <%= render 'index_table_body'%>
    </tbody>
  </table>
<% end %>


