<div class="row form-group">
  <%= f.label :ship_from_address_id, "Ship From", class: "col-xl-6 col-form-label" %>
  <div class="col-xl-6">
    <%= f.collection_select :ship_from_address_id, Settings::Address.all, :id, :name, {prompt: true}, 
      {class: "form-control", id: "order-ship-from-acct-add"} %> 
  </div>
</div>