<li class="breadcrumb-item"><%= link_to "Transactions", transactions_path %></li>
<li class="breadcrumb-item"><%= link_to "Item Transactions", item_transactions_path(@lot.item_id) %></li>
<li class="breadcrumb-item active" aria-current="page">Item Lot Transactions</li>