<span class="text-center">
  <%= link_to locals[:path], method: "delete", data: {confirm: "Are you sure?"} do %>
<%# Works!<div class="text-right"><%= link_to settings_unit_path(locals[:id]), method: "delete", data: {confirm: true} do %>
    <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Delete" ></i>
  <% end %>
</span>