<span class="text-center">
  <%= link_to locals[:path], method: "delete", data: {confirm: "Are you sure?", title: "Deleting data!"} do %>
    <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Delete" ></i>
  <% end %>
</span>