<div class="container-fluid" id="container-welcome-background">
</div>
<div class="container-fluid" id="container-welcome-image">
</div>

<div class="container-fluid h-100 welcome-container layer-1">
  <div class="row h-100">
    <div class="col-1"></div>
    <div class="col-3 welcome-page-col">
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </div>
</div>

<div class="container-fluid h-100 welcome-container layer-2">
  <div class="row h-100">
    <div class="col-1"></div>
    <div class="col-3">
      <div class="row align-items-start">
        <div class="col">
          <%= render "layouts/navbar_welcome" if current_user_session %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="display-4 text-center" id="welcome-main-message">Food Factory</h1>
          <% if current_user_session %>
            <p class="welcome-panel-text text-center"><%= current_user.email %></p>
          <% end %>
          <%= render "login_form" unless current_user_session %>
        </div>
      </div>
    </div>
  </div>
</div>
