<tr>
  <th scope="col" class="label code">ID</th>
  <th scope="col" class="label name">Email</th>
  <% if current_user.admin? %>
    <th scope="col" class="label name"><div class="text-center">Admin</div></th>
  <% end %>
  <th scope="col"></th>
</tr>
