<% content_for :table do %>
  <%= form_with url: products_path, model: @product, id: "item_class_table_form" do |form| %>
    <table class="form-table" id="item_class-table">
      <thead>
        <%= render 'index_table_head' %>
      </thead>
      <tbody>
        <%= render partial: "index_form", locals: {f: form} %>
        <%= render 'index_table_body'%>
      </tbody>
    </table>
  <% end %>
<% end %>


