<% @lots.each do |lot| %>
  <tr class="table-row">
    <td><%= lot.lot_code %></td>
    <td><%= lot.expire_date %></td>
    <td class="text-right">
      <%= render "application/shared/link_edit", locals: { id: lot.id, path: item_lot_path(lot) } %>
      <%= render "application/shared/link_delete", locals: { id: lot.id, path: item_lot_path(lot) } %>
    </td>
  </tr>
<% end %>
