<% content_for :context_title do %>  
  <%= "Item Lots for #{@item.code}, #{@item.name}" %>
<% end %>

<div class="add-new sticky">
  <%= render 'application/shared/link_new' %>
</div>

<table class="form-table" id="item-lots-table">
  <thead>
    <%= render 'index_table_head' %>
  </thead>
  <tbody>
    <%= render 'index_table_body' %>
  </tbody>
</table>
