$border-blue: #E3DFFF;
$table-row-color: #E2E3FF;
$table-alt-row-color: #EEEEFF;
$table-header-color: #7A89CB;
$text-color: grey;
$food-green: #67CE63;
$sidebar-color: #497b9a;
$sidebar-highlight-color: #5C7694;
$icon-green: #028F09;
$icon-orange: #FE9005;
$icon-red: #FF0000;
$icon-bootstrap: #007bff;
// $subform-card-color: #d4f7e6;
$subform-card-color: white;
$subform-table-color: #90FFC9;
$subform-table-header-color: #31AE71;
$subform-table-row-color: #BBFFCB;
$subform-table-alt-row-color: #D9FAE0;