// Dot leaders for show tables



div.show-table-row {
display: flex;
margin: 0 0 0.25em 0;
}

div.show-table-row .show-label {
flex-shrink: 0;
}

div.show-table-row .dots {
flex-shrink: 1;
white-space: nowrap;
overflow: hidden;
text-overflow: clip;
}

div.show-table-row .dots::after {
font-weight: normal;
content: ". . . . . . . . . . . . . . . . . . . .
 . . . . . . . . . . . . . . . . . . . . . . . . . 
 . . . . . . . . . . . . . . . . . . . . . . . . .
 . . . . . . . . . . . . . . . . . . . . . . . . . 
 . . . . . . . . . . . . . . . . . . . . . . . . .
  . . . . . . . . . . . . . . . . . . . . . . ";
}

div.show-table-row .show-value {
flex-shrink: 1;
text-align: right;
font-weight: bold;
white-space: nowrap;
}

