th.order-number {
  width: 5em;
}

th.id {
  width: 3em;
}

th.date, th.long-code {
  width: 8em;
}

th.code {
  width: 5em;
}

th.upc, th.w-14 {
  width: 14em;
}

th.name, th.w-10, th.long-code {
  width: 10em;
}

th.check {
  width: 4em;
}

th.number, th.w-8 {
  width: 8em;
}

td.number {
  padding-right: 0.5em;
}

th.icons {
  width: 10em;
}

th.link {
  width: 10em;
}

th.w-12 {
  width: 12em;
}

th.w-16 {
  width: 16em;
}