

<% if @paths %>
    <ol class="navbar-nav breadcrumb breadcrumb-sm">

      <% @paths.each do |path| %>
        <li class="nav-item breadcrumb-item"><%= link_to path[:label], path[:path] %></li>
      <% end %>

      <li class="nav-item breadcrumb-item active" aria-current="page"><%= @current_page %></li>

    </ol>
<% end %>